body {
  background-color: #041C32;
  text-align: center;
}

.bg-img {
  background: linear-gradient(rgba(26, 47, 57, 0.45), rgba(0, 0, 0, 0.481)), url("images/drumsticks.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(2px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  font-size: 5rem;
  color: #ECB365;
  font-family: 'Syncopate', sans-serif;
  text-shadow: 3px 2px rgb(26, 47, 57);
}

.drums-img {
  width: 100px;
}

footer {
  color: #ECB365;
  font-family: sans-serif;
  padding-top: 60px;
}

.w {
  background-image: url("images/crash.png");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0.6);
}

.a {
  background-image: url("images/kick.png");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0.6);
}

.s {
  background-image: url("images/snare.png");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0.6);
}

.d {
  background-image: url("images/tom1.png");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0.6);
}

.j {
  background-image: url("images/tom2.png");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0.6);
}

.k {
  background-image: url("images/tom3.png");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0.6);
}

.l {
  background-image: url("images/tom4.png");
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(0.6);
}

.set {
  margin: 10% auto;
}

.pressed {
  box-shadow: 1px 5px 15px #ecb365;
  filter: none;
}

.drum {
  outline: none;
  border: 10px solid #04293A;
  font-size: 5rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1;
  font-weight: 900;
  color: #ECB365;
  text-shadow: 3px 2px #064663;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
}